<div class="container">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-1.jpg" alt="">
                <div class="caption center-align">
                    <h3>SiblingSupportProject</h3>
                    <h4 class="light grey-text text-lighten-3">Our Brothers</h4>
                    <h4 class="light grey-text text-lighten-3">Our Sisters</h4>
                    <h4 class="light grey-text text-lighten-3">Ourselves...</h4>
                    ​
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-2.jpg" alt="">
                <div class="caption right-align">
                    <h3>SiblingSupportProject</h3>
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-3.jpg" alt="">
                <div class="caption left-align">
                    <h3>SiblingSupportProject</h3>
                </div>
            </li>

        </ul>
    </div>
</div>

<div class="container" id="signup">
    <h1 id="heading" class="center-align red-text">Registration Form</h1>
    <div class="row">
        <form class="col s12 #212121 grey darken-4">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" id="name" class="validate white-text">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input type="email" class="validate white-text" id="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">location_city</i>
                    <input type="text" class="validate white-text" id="state">
                    <label for="state">State</label>
                </div>
                <button class="btn red z-depth-5 center-align">SignUp</button>
            </div>
        </form>

    </div>
</div>


<div class="container">  
         <h3>Connect with local Sibs through your <a href="https://siblingleadership.org/">Sibling Leadership
                    Network!</a></h3>
            <p>The mission of the Sibling Leadership Network is to provide siblings of individuals with disabilities the
                information, support and tools to advocate with their brothers and sisters and to promote the issues
                important to them and their entire families.
            <br>
                Want to find Sibs near you? Search your state and find your nearest SLN Chapter!
            </p> 
    <form>
        <div class="input-field" id="floating-panel">
            <input id="chapter" type="text" placeholder="Enter a chapter location..">
            <label class="active" for="chapter"></label>
            <input id="submitChapter" class="btn waves-effect #ffab40" type="button" value="Search">
        </div>
    </form>
    <main>
        <div class="container" id="boxOne">
    </main>
</div>

