<!-- floating action button for social media -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">facebook</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">twitter</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">instagram</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">skype</i></a></li>
  </ul>
</div>
​
<!-- slider container -->
<div class="container" id="imgSlider">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://lorempixel.com/output/nature-q-c-250-250-1.jpg" alt="">
        <div class="caption center-align">
          <h3>SiblingSupportProject</h3>
          <h4 class="light grey-text text-lighten-3">Our Brothers</h4>
          <h4 class="light grey-text text-lighten-3">Our Sisters</h4>
          <h4 class="light grey-text text-lighten-3">Ourselves...</h4>
          ​
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/output/nature-q-c-250-250-2.jpg" alt="">
        <div class="caption right-align">
          <h3>SiblingSupportProject</h3>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/output/nature-q-c-250-250-3.jpg" alt="">
        <div class="caption left-align">
          <h3>SiblingSupportProject</h3>
        </div>
      </li>
    </ul>
  </div>
  ​
  <div id="aboutMe">
    <h2 class="text-center">The Sibling Support Project</h2>
    <p>Founded in 1990, the Sibling Support Project is the first national program dedicated to the life-long and
      ever-changing concerns of millions of brothers and sisters of people with special health, developmental, and
      mental health concerns.

      We are proud to be a program of Kindering, an award-winning organization that embraces children of diverse
      abilities and their families by providing the finest education and therapies to nurture hope, courage and the
      skills to soar.

      We’ve published books for and about brothers and sisters, host online groups for teen and adult siblings, and
      presented workshops on sibling issues internationally and in every state.

      We are best known for helping local communities start Sibshops—lively peer support groups for school-age brothers
      and sisters of kids with special needs. It is an honor to serve such a deserving population. We hope you’ll
      explore our website and learn more about what
      we do.</p>
  </div>
</div>
​
<div class="container">
  <hr>
  <div class="row">
    <div class="col s6">
      <img
        src="https://www.siblingsupport.org/home/LTP_2018_0013xsmall.jpg/@@images/40f843bd-9e58-4662-840a-5c6fdba340ef.jpeg"
        class="responsive-img circle" style="height:150px;" alt="Director">
    </div>
    <div class="col s6">
      <img
        src="https://mlsvc01-prod.s3.amazonaws.com/3ddc1d88001/30018255-8cf7-4514-9728-ae570aa2373f.jpg?ver=1443828662000"
        class="responsive-img circle" style="height:150px;" alt="Founder">
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <h6 style="align:right;"><strong>Emily Holl - Director<br>
        Sibling Support Project <br>
        emily@siblingsupport.org</strong></h6>
      <p>Emily Holl is the Director of the Sibling Support Project. Emily is a licensed social worker, writer, and
        trainer who has worked in the disability field for more than 15 years, and who is well known in the sibling
        community. She attended the University of Massachusetts, Columbia University, and Hunter College, where she
        received her MSW degree.
  <br>
  <br>
        From 2003 to 2015, Emily worked at YAI, New York City’s largest agency serving people with disabilities and
        their families as the senior manager for conferences and communications. At YAI, Emily conducted sibling
        research, launched and facilitated a future planning workshop for siblings and families, and created sibling
        social and support groups. For nearly a decade
        <a href="https://www.siblingsupport.org/home/about-emily-holl">...Read more!</a>
      </p>
    </div>
    <div class="col s6">
      <h6><strong>Don Meyer - Founder<br>
        Sibling Support Project <br>
        donmeyer@siblingsupport.org</strong></h6>
      <p>Don Meyer is the Founder of the Sibling Support Project. Don is probably best known for creating Sibshops,
        lively programs just for young brothers and sisters of kids with special needs. Currently, there are over 475
        Sibshops in eight countries. Don also created SibTeen Sib20, and SibNet, online communities for young and adult
        brothers and sisters which allow thousands of siblings from around the world to connect with their peers.
  <br>
        Don was a founder of the SEFAM (Supporting Extended Family Members) program at the University of Washington,
        which pioneered services for fathers, siblings, and grandparents of children with special needs.

        <a href="https://www.siblingsupport.org/home/copy_of_about-don-meyer">...Read more!</a>
      </p>
    </div>
  </div>
  <hr>
</div>
​
<!-- Video embedding -->
<div class="container" id="video">
  <div class="video-container">
    <iframe width="350" height="215" src="https://www.youtube.com/embed/0WhJpj4d5WQ" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<hr>
​
<div class="container" id="social">
  <h1 class="title">Join/Support Us Today</h1>

  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Sign Up</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
       <h1 id="heading" class="center-align red-text">Registration Form</h1>
       <form class="col s12 #212121 grey darken-4">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" id="name" class="validate white-text">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input type="email" class="validate white-text" id="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">location_city</i>
                    <input type="text" class="validate white-text" id="state">
                    <label for="state">State</label>
                </div>
                <button class="btn red z-depth-5 center-align">SignUp</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>


  <button class="btn red darken-3 white-text">Support our patreon</button>
  <!-- <a class="waves-effect waves-light btn">Join</a>
        <a class="waves-effect waves-light btn">Support our patreon</a> -->
</div>
​
​
​