<div class="row center-text">
    <div class="col s12">
        <h1 class="center-text">Workshops</h1>
        <p>The Sibling Support Project specializes in providing family-friendly and highly rated workshops on
            sibling
            issues to parents, service providers, and siblings of all ages. To date, we’ve provided workshops in
            every
            state, most Canadian provinces, and in nine additional countries. We also do workshops for (and
            about) two
            other traditionally underserved family members: fathers and grandparents.
        </p>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h1 class="text-center">Trainings</h1>
        <p>Our Sibshop facilitator trainings have been offered in almost every state and in eight countries,
            leading
            to
            the creation of over 450 Sibshops worldwide. They’re lively events with something for parents,
            providers,
            adult sibs, and even young brothers and sisters!
        </p>
        <p>Our two-day Sibshop facilitator trainings have much to offer to family members and service providers,
            specifically:</p>
        <ul>
            <li>
                --Future Sibshop facilitators and administrators who attend both days of the two-day training
                and
                become
                first-generation Sibshop facilitators;
            </li>
            <li> --Family members, university personnel, and service providers who attend just the first day as
                we
                discuss
                sibs' concerns across the lifespan; and
            </li>
            <li> --Young sibs who participate in the second day's demonstration Sibshop.</li>
        </ul>
        <p>
            Some training hosts also choose to add an informal event at the end of the first day just for adult
            sibs.
        </p>

    </div>
</div>


<div class="container-fluid">
    <h2>Upcoming Events</h2>
    <div class="row">
        <div class="col s12 m6">
            <div class="card deep-purple lighten-4">
                <div class="card-content black-text">
                    <span class="card-title">Facilitator Training and Sibling Workshop</span>
                    <ul>
                        <li>Date: Aug 06, 2019 09:00 AM to
                            Aug 07, 2019 03:00 PM</li>
                        <li>Where: Monticello, NY</li>
                        <li>Contact: Marueen Stewart
                            mstewart@arcsullivanorange.org </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a href="https://www.arcsullivanorange.org/">More Information</a>
                </div>
            </div>
        </div>
        {{!--  --}}
        <div class="col s12 m6">
            <div class="card deep-purple lighten-4">
                <div class="card-content black-text">
                    <span class="card-title">Facilitator Training and Sibling Workshop</span>
                    <ul>
                        <li>Date: Sep 06, 2019 09:00 AM to
                            Sep 07, 2019 03:00 PM</li>
                        <li>Where: Midland, TX</li>
                        <li>Contact: Tom Jones
                            tjones@sharewtx.org </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a
                        href="https://www.siblingsupport.org/documents-for-site/midland-sibling-conference-sibshop-facilitator.pdf/view">More
                        Information</a>
                </div>
            </div>
        </div>
        {{!--  --}}
        <div class="col s12 m6">
            <div class="card deep-purple lighten-4">
                <div class="card-content black-text">
                    <span class="card-title">Facilitator Training and Sibling Workshop</span>
                    <ul>
                        <li>Date: Oct 04, 2019 09:00 AM to
                            Oct 05, 2019 03:00 PM</li>
                        <li>Where: Duncan, B.C.</li>
                        <li>Contact: Ana Biello
                            abiello@clementscentre.org </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a
                        href="https://www.eventbrite.com/e/sibshop-facilitator-workshop-tickets-63085201536?utm-medium=discovery&utm-campaign=social&utm-content=attendeeshare&aff=escb&utm-source=cp&utm-term=listing">More
                        Information</a>
                </div>
            </div>
        </div>
        {{!--  --}}
        <div class="col s12 m6">
            <div class="card deep-purple lighten-4">
                <div class="card-content black-text">
                    <span class="card-title">Facilitator Training and Sibling Workshop</span>
                    <ul>
                        <li>Oct 11, 2019 09:00 AM to
                            Oct 12, 2019 03:00 PM</li>
                        <li>Where: Phoenix, AZ</li>
                        <li>Contact: Eva Velez or Kim Dionne
                            evav@cfssinc.com </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a href="https://www.cfss.com/sibshop-workshop">More Information</a>
                </div>
            </div>
        </div>
        {{!-- End of Row --}}
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card deep-purple lighten-4">
                <div class="card-content black-text">
                    <span class="card-title">Facilitator Training and Sibling Workshop</span>
                    <ul>
                        <li>Date: Oct 11, 2019 09:00 AM to
                            Oct 12, 2019 03:00 PM</li>
                        <li>Where: Livermore, CA</li>
                        <li>Contact: Kristina Kind
                            camp@ttff.org</li>
                    </ul>
                </div>
                <div class="card-action">
                    <a href="https://ttff.org/">More Information</a>
                </div>
            </div>
        </div>
        {{!--  --}}
        <div class="col s12 m6">
            <div class="card deep-purple lighten-4">
                <div class="card-content black-text">
                    <span class="card-title">Facilitator Training and Sibling Workshop</span>
                    <ul>
                        <li>Date: Nov 09, 2019 09:00 AM to
                            Nov 10, 2019 03:00 PM</li>
                        <li>Where: San Clemente, CA</li>
                        <li>Contact: Mo Langley
                            mo@sandyfeetoc.org </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a href="https://www.cfss.com/sibshop-workshop">More Information</a>
                </div>
            </div>
        </div>
        {{!--  --}}
        <div class="col s12 m6">
            <div class="card deep-purple lighten-4">
                <div class="card-content black-text">
                    <span class="card-title">Facilitator Training and Sibling Workshop</span>
                    <ul>
                        <li>Date: May 15, 2020 09:00 AM to
                            May 16, 2020 03:00 PM</li>
                        <li>Where: East Lansing, MI</li>
                        <li>Contact: Dawn Adkins
                            AdkinsD@michigan.gov </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a href="https://www.michigan.gov/mdhhs/0,5885,7-339-71547_35698-56603--,00.html">More
                        Information</a>
                </div>
            </div>
        </div>
        {{!--  --}}

    </div>
</div>